# Dependências e Builds de Node.js
**/node_modules/
/dist/
/build/
/.next/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Rust / WebAssembly (Wasm)
**/target/
wasm-particles/pkg/

# Python (Cache e Ambientes Virtuais)
**/__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Banco de Dados Local e Dados Sensíveis
*.sqlite
*.sqlite3
cms-engine/database.sqlite
.env
.env.*

# Pastas / Arquivos de Teste e Scripts Utilitários Locais
*.tmp
*.log

# Arquivos do Sistema e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/

# Added by cargo

/target
